:root {
    --main-color: #6dd5ed;
    --seconday-color: #2193b0;
    --gradient: linear-gradient(135deg, var(--main-color), var(--seconday-color));
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: transparent;
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
    background-size: cover;
  }
  
  h1 {
    font-weight: bold;
    margin: 0;
    padding: 30px 0 20px 0;
  }
  
  .social-container {
    margin: 20px 0;
  }
  
  .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  
  form {
    background: linear-gradient(rgb(136, 136, 238), rgb(255, 197, 90), rgb(118, 242, 118));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    border-radius: 18px;
    position: relative;
    box-shadow: 10px 15px transparent;
  }
  
  input {
    background-color: #eee;
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 19px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100;
    font-family: sans-serif;
  }
  
  input:hover {
    background-color: rgb(189, 243, 238);
    border-style: none;
  }
  
  .form-container {
    /* position: absolute;*/
    top: 0;
    /*width: 100%;*/
    transition: all 0.6s ease-in-out;
  }
  
  span {
    font-size: 12px;
  }
  
  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 5px 0;
  }
  
  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 100;
  }
  
  a:hover {
    color: rgb(201, 6, 6);
  }
  
  button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    background-color: var(--seconday-color);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    margin: 15px;
  }
  
  button:hover {
    background-color: #eee;
    color: #333;

  }  
