<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-
	+4zCK9K+cKL9EIR+ZOhtI1oN19GIKSS7V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sNyeRssA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="statics/login.css">
	<title>Sign in</title>
</head>
<body>
	<div class="form-container">
		<form>
			<h1>Sign In</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-github"></i></a>
				<a href="#" class="social"><i class="fab fa-twitter"></i></a>
				<a href="#" class="social"><i class="fab fa-google"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="E-mail" />
			<input type="password" placeholder="Password" />
			<a class="page" href="#">Forgot your password ?</a>
			<p>or</p>
			<a class="page" href="#">Don't have an Account?</a>
			<button onclick="return false;">Sign In</button>
		</form>
	</div>
	<script src="login.js"></script>
</body>
</html>
